body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h2  {
  text-align: right !important;
}

.main__content{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.editor__container {
  height: 80%;
  width: 45%;
}

.preview__content {
  height: 80%;
  width: 45%;

}

.editing__box {
  height: 100%;
}

.editing__box textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
}

.preview__text {
  font-size: 1rem;
  padding: 10px;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: auto; /* Add scrollbars if content overflows */
}

.preview__text{
  text-align: left;
  color: black;
}